version: "3.12"

services:
  db:
    image: redis
    volumes:
      - redis-volume:/data
    networks:
      - net-back

    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 2s
      retries: 5
      start_period: 30s
      start_interval: 3s


  frontend:
    image: nginx
    volumes:
      - ./content:/usr/share/nginx/html
      - ./configs:/etc/nginx/conf.d
    ports:
      - "8081:80"
    networks:
      - net-back
    depends_on:
      backend:
        condition: service_healthy



  backend:
    build: .
    ports:
      - "8089"

    networks:
      - net-front
      - net-back

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8089/health"]
      interval: 10s
      timeout: 2s
      retries: 5
      start_period: 30s
      start_interval: 3s

    depends_on:
      db:
        condition: service_healthy



volumes:
  redis-volume:


networks:
  net-front:

  net-back:
